{% extends "realtime/base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}
{% load bootstrap %}
{% load pipeline %}

{% block head_resources %}
    {{ block.super }}
    {% leaflet_js %}
    {% leaflet_css %}
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static 'realtime/css/MarkerCluster.user-map.ie.css' %}" />
    <![endif]-->
    {% stylesheet 'realtime_contrib' %}
    {% stylesheet 'realtime_appcss' %}
    {% stylesheet 'main' %}
    {% javascript 'realtime_contrib' %}
    {% javascript 'realtime_templates' %}
    {% javascript 'realtime_appjs' %}
    {{ form.media }}
{% endblock head_resources %}

{% block nav_second %}
    <nav class="nav-second navbar-collapse collapse">
        <ul class="menu">
            <li class="menu-item active">
                <a href="#">Map</a>
            </li>
            <li class="menu-item">
                <a href="{% url 'realtime:api_root' %}">API Browser</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block main_content %}
    <div class="row center-block">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">InaSAFE Realtime</h2>
            </div>
            <div class="panel-body">
                <p class="text-justify">
                    This page contains near realtime earthquake impact assessments
                    following recent earthquakes in the Indonesia region.
                    Shakemaps of earthquake ground shaking are produced by the
                    Indonesian Agency for Meteorology, Climatology and Geophysics (BMKG)
                    and used by the Indonesian National Disaster Management Agency (BNPB)
                    to produce InaSAFE impact assessments within minutes of an earthquake
                    (<a href="http://www.bnpb.go.id">http://www.bnpb.go.id</a>
                    or <a href="http://realtime.inasafe.org">http://realtime.inasafe.org</a>).
                    This information is used by disaster managers to help them understand
                    the potential scale of a disaster and to respond faster to the
                    hardest hit communities. This is particularly important in the
                    first few hours after a large earthquake when it may be difficult
                    to get accurate on-the-ground information.
                </p>
            </div>
        </div>
    </div>
    <div class="row center-block">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title map-title">Map</h3>
            </div>
            <div class="panel-body" style="height: 500px">
                <!-- Leaflet Map div -->
                {% leaflet_map "map" %}

                <!-- All the templates from view-->
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block filter_content %}
    <div class="row center-block">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Filters</h3>
            </div>
            <div class="panel-body">
                <form id="event-filter">
                    <span class="row">
                        <span class="col-xs-6 col-sm-4">
                            {{ form.start_date|bootstrap_horizontal:'col-md-5' }}
                        </span>
                        <span class="col-xs-6 col-sm-4">
                            {{ form.end_date|bootstrap_horizontal:'col-md-5' }}
                        </span>
                        <span class="clearfix"></span>
                    </span>
                    <span class="row">
                        <span class="col-xs-6 col-sm-4">
                            {{ form.minimum_magnitude|bootstrap_horizontal:'col-md-5' }}
                        </span>
                        <span class="col-xs-6 col-sm-4">
                            {{ form.maximum_magnitude|bootstrap_horizontal:'col-md-5' }}
                        </span>
                        <span class="col-sm-1 hidden-xs">
                            <button class="btn clear-filter" title="Clear Filter">
                                <span class="glyphicon glyphicon-erase"></span>
                            </button>
                        </span>
                        <span class="col-sm-1 hidden-xs">
                            <button class="btn btn-primary submit-filter"
                                    title="Update Filter">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                        </span>
                        <span class="clearfix"></span>
                    </span>
                    <span class="row">
                        <span class="col-xs-2 visible-xs">
                            <button class="btn clear-filter" title="Clear Filter">
                                <span class="glyphicon glyphicon-erase"></span>
                            </button>
                        </span>
                        <span class="col-xs-2 visible-xs">
                            <button class="btn btn-primary submit-filter"
                                    title="Update Filter">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                        </span>
                    </span>
                </form>
            </div>
        </div>
    </div>
{% endblock filter_content %}

{% block table_content %}
    <div class="row center-block" id="realtime_table_div">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Table</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered table-hover" id="realtime-table">
                        <thead>
                        <th>Time</th>
                        <th>Location Description</th>
                        <th>Magnitude</th>
                        <th>Depth</th>
                        <th>Shake Id</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Supporters</h2>
            <p>Funded and supported by the
                <a href="http://www.aifdr.org/">Australia-Indonesia Facility
                    for Disaster Reduction</a>,
                <a href="http://www.ga.gov.au/">Geoscience Australia</a> and
                the <a href="http://www.gfdrr.org">World Bank-GFDRR</a>.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Partners</h2>

            <p>This software was developed with our partners in Indonesia:
                <a href="http://bnpb.go.id">Badan Nasional
                    Penanggulangan Bencana (BNPB)</a>. and
                <a href="http://www.bmkg.go.id">Badan Meteorologi, Klimatologi, dan
                    Geofisika (BMKG)</a>
            </p>
        </div>
        <div class="span4">
            <h2>InaSAFE</h2>

            <p>This software is part of the
                <a href="http://inasafe.org">InaSAFE</a> project.
            </p>
        </div>
    </div>
    <div class="row">
        <span class="col-md-4 panel panel-default">
            <div class="panel-body">
                <img class="img-responsive center-block" src=
                        "{% static 'realtime/img/bnpb_logo.png' %}"
                     alt="BNPB Logo">
            </div>
        </span>
        <span class="col-md-4"></span>
        <span class="col-md-4 panel panel-default">
            <div class="panel-body">
                <img class="img-responsive center-block" src=
                "{% static 'realtime/img/bmkg_logo.png' %}"
                     alt="BMKG Logo">
            </div>
        </span>
    </div>
{% endblock table_content %}

{% block js_container %}
    <script type="text/javascript">
        var base_map, dynaTable;

        // Initialize Basemap Layer
        base_map = {
            {% for tile in leaflet_tiles %}
                '{{ tile.name }}' : createBasemap(
                    '{{ tile.url }}',
                    '{{ tile.subdomains }}',
                    '{{ tile.attribution | safe }}')
                {% if not forloop.last %}
                    ,
                {% endif %}
            {% endfor %}
        };

        //Create Map with prepared base_map
        map = L.map('map', {
            layers: [ base_map["{{ leaflet_tiles.0.name }}"] ]
        });
        map.fitWorld().zoomIn();
        // make popup in center when opened
        map.on('popupopen', function (e) {
            var px = map.project(e.popup._latlng); // find the pixel location on the map where the popup anchor is
            px.y -= e.popup._container.clientHeight / 2; // find the height of the popup container, divide by 2, subtract from the Y axis of marker location
            map.panTo(map.unproject(px), {animate: true}); // pan to new center
        });

        //url to get json of events
        var get_events_url = '{% url "realtime:earthquake_feature_list" %}';

        var class_name = 'marker-cluster marker-cluster-project' + 1;
        markers = new L.markerClusterGroup({
            iconCreateFunction: (function (class_name) {
                return function (cluster) {
                    return L.divIcon({
                        html: '<div><span>' + cluster.getChildCount() + '</span></div>',
                        className: class_name,
                        iconSize: L.point(40, 40)
                    });
                }
            })(class_name)
        }).addTo(map);

        // create control layers
        L.control.layers(base_map, {
            'Shake Event': markers
        }, {
            position: 'topleft'
        }).addTo(map);

        project_icon_path = "{% static 'realtime/img/earthquake.png' %}";
        earthquakeIcon = createIconMarker(
                project_icon_path);

        // create dynatable
        var jsonTableContents = [];
        var showEventHandler = createShowEventHandler(map, markers,
                map_events);
        {#    Use magic number 000 for placeholder#}
        var report_url = '{% url "realtime:earthquake_report_detail" shake_id='000' language=language %}'
        var showReportHandler = createShowReportHandler(report_url);
        var downloadReportHandler = createDownloadReportHandler(report_url);
        var button_templates = [
            {
                name: 'Show',
                css_class: 'glyphicon glyphicon-search',
                handler: 'showEventHandler'
            },
            {
                name: 'Report',
                css_class: 'glyphicon glyphicon-file',
                handler: 'showReportHandler'
            },
            {
                name: 'Download',
                css_class: 'glyphicon glyphicon-download',
                handler: 'downloadReportHandler'
            }
        ];


        function getEarthquakeEventsJson(event_json) {
            markers.clearLayers();
            L.geoJson(event_json, {
                onEachFeature: onEachFeature,
                pointToLayer: function (feature, latlng) {
                    var marker = L.marker(latlng, {icon: earthquakeIcon});
                    map_events[feature.properties.shake_id] = marker;
                    return marker;
                }
            }).addTo(markers);
            jsonTableContents = [];
            for (var i = 0; i < event_json.features.length; ++i) {
                jsonTableContents[i] = event_json.features[i].properties;
            }
            dynaTable.settings.dataset.originalRecords = jsonTableContents;
            dynaTable.paginationPerPage.set(100);
            dynaTable.process();
        }

        function onEachFeature(feature, layer) {
            // add feature to map_events index
            // Set the popup content if it does have the content
            if (feature.properties) {
                var properties = feature.properties;
                var popup_content = window.JST.popup_content(properties);
                layer.bindPopup(popup_content);
            }
        }

        // add LocationFilter control
        var locationFilter = L.control.locationFilter({
            enableButton: {
                enableText: "{{ select_area_text }}",
                disableText: "{{ remove_area_text }}"
            },
            adjustButton: {
                text: "{{ select_current_zoom_text }}"
            },
            buttonPosition: 'topleft'
        }).addTo(map);

        // add FitAll control
        var fitAll = L.control.fitAll({
            position: 'topleft',
            title: 'Fit All',
            markers: markers
        }).addTo(map);

        $(document).ready(function () {

            var $root = $('html, body');
            var $navbar = $('#navbar');

            dynaTable = $('#realtime-table').dynatable({
                table: {
                    defaultColumnIdStyle: 'underscore',
                },
                writers: {
                    _rowWriter: createActionRowWriter(button_templates)
                },
                dataset: {
                    records: jsonTableContents
                }
            }).data('dynatable');

            // add action column to dynatable
            addActionColumn('#realtime-table', 'Action');

            $.get(get_events_url, function (data) {
                event_json = data;
                getEarthquakeEventsJson(data);
                modifyMapDescriptions(".map-title");
                mapFitAll(map, markers);
            });

            // add content filter handler
            // update via ajax request
            {% if server_side_filter %}
            var _updateFilterHandler = createUpdateFilterHandler(get_events_url,
                    $("#event-filter"),
                    locationFilter,
                    getEarthquakeEventsJson);
            {% else %}
            // update via client filters
            var _updateFilterHandler = createClientUpdateFilterHandler(get_events_url,
                    $("#event-filter"),
                    locationFilter,
                    getEarthquakeEventsJson);
            {% endif %}
            var updateFilterHandler = function(e, reset){
                _updateFilterHandler(e, reset);
                modifyMapDescriptions(".map-title");
            };

            locationFilter.on("change", updateFilterHandler);
            locationFilter.on("enabled", updateFilterHandler);
            locationFilter.on("disabled", function(e){
{#              Disable/clear selection first #}
                updateFilterHandler(e, true);
            });

{#            Modify location filter styles#}
            modifyLocationFilterStyle();
            modifySearchAndShowLabels();

            $(".submit-filter").click(updateFilterHandler);
            $(".clear-filter").click(function (e) {
                e.preventDefault();
                $("#event-filter input.form-control").val('');
                updateFilterHandler(e);
            });

            {% if iframe %}
{#                If in iframe, remove unnecessary informations#}
                $map = $("#map").detach();
                $body = $("body");
                $main_container = $("body>.container").hide();
                $map.appendTo($body);

            {% endif %}
        });
    </script>
{% endblock js_container %}
