{% extends "realtime/base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}

{% block head_resources %}
  {{ block.super }}
  {% leaflet_js %}
  {% leaflet_css %}
  <link rel="stylesheet" href="{% static 'realtime/css/MarkerCluster.css' %}"/>
  <link rel="stylesheet" href="{% static 'realtime/css/MarkerCluster.user-map.css' %}"/>
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static 'realtime/css/MarkerCluster.user-map.ie.css' %}" />
  <![endif]-->
  <script language="javascript" type="text/javascript" src="{% static 'realtime/js/leaflet.markercluster-src.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'realtime/js/user-map.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'realtime/js/realtime.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'realtime/js/jquery.dynatable.js' %}"></script>
{% endblock head_resources %}

{% block main_content %}
  <!-- Leaflet Map div -->
  {% leaflet_map "map" %}

  <!-- All the templates from view-->

{% endblock main_content %}

{% block filter_content %}
    {{ form | safe}}
    <input type="submit" value="Update">
{% endblock filter_content %}

{% block js_container %}
  <script type="text/javascript">
      var map, base_map, data_privacy_content, data_privacy_control,
              user_menu_control;
    var is_authenticated = '{{ user.is_authenticated }}' == 'True';

    //Initialize Basemap Layer
    base_map = createBasemap(
        '{{ leaflet_tiles.url }}',
        '{{ leaflet_tiles.attribution | safe }}');

    //Create Map with prepared base_map
    map = L.map('map', {
      layers: [base_map]
    });
    map.fitWorld().zoomIn();

    //test marker london
    var marker = L.marker([51.5, -0.09]).addTo(map);

    // Create Data Privacy Control
    data_privacy_control = createDataPrivacyControl();
    map.addControl(new data_privacy_control);

    // Create User Menu Control and add some tooltips
    var user_menu = (is_authenticated? ['edit', 'delete', 'download'] : ['add', 'download', 'forgot']);
    user_menu_control = createUserMenuControl(user_menu);
    map.addControl(new user_menu_control);
    $(".user-menu-control").tooltip({placement: 'right', container: 'body'});

    // Create Legend Control:
    legend_control = createLegendControl();
    map.addControl(new legend_control);

    //url to get json of events
    var get_events_url = '{% url "realtime:earthquake_feature_list" %}';

    var class_name = 'marker-cluster marker-cluster-project' + 1;
    markers = new L.markerClusterGroup({
       iconCreateFunction: (function(class_name) {
           return function (cluster) {
             return L.divIcon({
               html: '<div><span>' + cluster.getChildCount() + '</span></div>',
               className:class_name,
               iconSize: L.point(40, 40)});
           }
       })(class_name)
       });

    project_icon_path = "{% static 'realtime/img/inasafe-icon.png' %}";
    project_shadow_icon_path = "{% static  'realtime/img/shadow-icon.png' %}";
    earthquakeIcon = createIconMarker(
            project_icon_path, project_shadow_icon_path);

    var jsonTableContents = [];
      var exampleJson = [
                      {
                        "band": "Weezer",
                        "song": "El Scorcho"
                      },
                      {
                        "band": "deefr",
                        "song": "El Scorcho"
                      },
                      {
                        "band": "fdhgh",
                        "song": "thing"
                      },
                    ];

    function getEarthquakeEventsJson(event_json)
      {
          console.log('mainGetEarthquakeEventsJs');
          console.log(event_json);
          for (var i = 0; i < event_json.features.length; ++i) {
              console.log('getEarthquakeEventsJs');
              console.log(event_json.features[i]);
              L.geoJson(event_json.features[i], {
                  onEachFeature: onEachFeature,
                  pointToLayer: function (feature, latlng) {
                      return L.marker(latlng, {icon: earthquakeIcon});
                  }
              }).addTo(markers);
          jsonTableContents[i] = event_json.features[i].properties;
          }
          map.addLayer(markers);
          var eventTable = $('#realtime-table').dynatable({
            table:{defaultColumnIdStyle: 'underscore'},
            dataset: {records: jsonTableContents}});
      }

    function onEachFeature(feature, layer)
      {
        // Set the popup content if it does have the content
        if (feature.properties && feature.properties.popupContent) {
          layer.bindPopup(feature.properties.popupContent);
        }
      }
      //create markers from JSON url

    //var eventTable = $('#realtime-table').dynatable()

    $(document).ready( function() {
        $.ajax({
          dataType: "json",
          url: get_events_url,
          success: getEarthquakeEventsJson
            });

      });
//      function updateFilter() {
//          $.ajax({
//            type: 'GET',
//            url: url,
//            dataType: 'json',
//            data: {
//              project: project['name']
//            },
//            success: function (response) {
//              L.geoJson(
//                  response.users,
//                  {
//                    onEachFeature: onEachFeature,
//                    pointToLayer: function (feature, latlng) {
//                      return L.marker(latlng,{icon: project['icon'] });
//                    }
//                  }).addTo(project['layer']);
//            }});
  </script>
{% endblock js_container %}
