<nav class="nav-second navbar-collapse collapse">
    <ul class="menu">
        <li class="menu-item">
            <a href="{% url 'realtime:shake_index' %}">Earthquake</a>
        </li>
        <li class="menu-item">
            <a href="{% url 'realtime:flood_index' %}">Flood</a>
        </li>
        {% if user.is_authenticated %}
            <li class="menu-item">
                <a href="{% url 'realtime:ash_index' %}">Ash</a>
            </li>
        {% endif %}
        <li class="menu-item">
            <a href="{% url 'realtime:api_root' %}">API Browser</a>
        </li>
        {#            {% if user.is_authenticated %}#}
        <li class="menu-item">
            <a href="{% url 'realtime:indicator' %}">Indicator</a>
        </li>
        {#            {% endif %}#}
    </ul>
</nav>
