{% load i18n %}

<nav class="nav-second navbar-collapse collapse">
    <ul class="menu">
        <li class="menu-item">
            <a href="{% url 'realtime:shake_index' %}">{% trans "Earthquake" %}</a>
        </li>
        <li class="menu-item">
            <a href="{% url 'realtime:flood_index' %}">{% trans "Flood" %}</a>
        </li>
        {% if ASH_SHOW_PAGE %}
        <li class="menu-item">
            <a href="{% url 'realtime:ash_index' %}">{% trans "Volcanic Ash" %}</a>
        </li>
        {% endif %}
        <li class="menu-item">
            <a href="{% url 'realtime:api_root' %}">{% trans "API Browser" %}</a>
        </li>
        <li class="menu-item">
            <a href="{% url 'realtime:indicator' %}">{% trans "Indicator" %}</a>
        </li>
        {% for g in flatpages.groups %}
            {% with pages=g.pages %}
                {% if pages %}
                <li class="menu-item dropdown">
                    <a href="#" class="dropdown-toggle" title="{{ g.title|capfirst }}" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="true">
                        {{ g.title|capfirst }}
                        <span class="caret"></span>
                    </a>
                    <ul role="menu" class="dropdown-menu">
                        {% for p in pages %}
                            <li class="menu-item">
                                <a title="{{ p.title }}"
                                   href="{% url 'django.contrib.flatpages.views.flatpage' url=p.url %}">
                                    {{ p.title|capfirst }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </ul>
</nav>
