<nav class="nav-second navbar-collapse collapse">
    <ul class="menu">
        <li class="menu-item">
            <a href="{% url 'realtime:shake_index' %}?lang={{ language.selected_language.id }}">Earthquake</a>
        </li>
        <li class="menu-item">
            <a href="{% url 'realtime:flood_index' %}?lang={{ language.selected_language.id }}">Flood</a>
        </li>
        {% if user.is_authenticated %}
            <li class="menu-item">
                <a href="{% url 'realtime:ash_index' %}">Ash</a>
            </li>
        {% endif %}
        <li class="menu-item">
            <a href="{% url 'realtime:api_root' %}">API Browser</a>
        </li>
        <li class="menu-item">
            <a href="{% url 'realtime:indicator' %}">Indicator</a>
        </li>
        {% for p in flatpages_navbar %}
            {% if p.url %}
                <li class="menu-item">
                    <a href="{% url 'django.contrib.flatpages.views.flatpage' url=p.url %}">{{ p.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
