{% extends "realtime/base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}
{% load bootstrap %}
{% load pipeline %}
{% load i18n %}

{% block head_resources %}
    {{ block.super }}
    {% leaflet_js %}
    {% leaflet_css %}
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static 'realtime/css/MarkerCluster.user-map.ie.css' %}" />
    <![endif]-->
    {% stylesheet 'realtime_contrib' %}
    {% stylesheet 'realtime_appcss' %}
    {% stylesheet 'realtime_shakecss' %}
    {% stylesheet 'main' %}
    {{ form.media }}
{% endblock head_resources %}

{% block main_content %}
    <div class="row center-block">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">InaSAFE Ash</h2>
            </div>
            <div class="panel-body">
                <p class="text-justify">
                    {% blocktrans %}
                        Lorem ipsum
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
    <div class="row center-block">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title map-title">{% trans "Upload Ash Event" %}</h3>
            </div>
            <div class="panel-body" style="height: 500px">
                <form id="form-ash-upload" class="form-horizontal" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <div class="form-group">
                        <div class="col-lg-offset-3 col-lg-6">
                            <input type="submit" name="upload-ash" value="Submit" class="btn btn-default">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock main_content %}

{% block js_container %}
    {% javascript 'realtime_contrib' %}
    {% javascript 'realtime_appjs' %}
    {% javascript 'realtime_shakejs' %}
{% endblock js_container %}
