# copy this template as sftp_credential.env for production mode credential
# and as sftp_credential-dev.env for development mode credential
REALTIME_GEONODE_URL={{ geonode.host }}
REALTIME_GEONODE_USER={{ geonode.user }}
REALTIME_GEONODE_PASSWORD={{ geonode.password }}
