Django>=1.7,<1.8
django-bootstrap3-datetimepicker
psycopg2
pytz
django-braces
django-model-utils
django-pipeline<1.6,>=1.5
nodeenv
raven
django-user-map
djangorestframework
djangorestframework-gis
markdown
django-filter
pillow
