{% extends "rest_framework/base.html" %}
{% load staticfiles %}
{% load pipeline %}
{% load rest_framework %}

{# Override Django Rest Framework theme here #}

{% block style %}
    {{ block.super }}
    {% stylesheet 'contrib' %}
    {% stylesheet 'main' %}
    {% stylesheet 'realtime_contrib' %}
    {% stylesheet 'realtime_appcss' %}
{% endblock %}

{% block title %}

    InaSAFE Realtime REST API

{% endblock %}

{% block navbar %}
    <header id="banner-header" class="banner navbar navbar-default
    topnavbar navbar-static-top default" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" rel="home" href="{% url 'front_end:home' %}" title="InaSAFE">
                    <img id="site-logo" style="max-width:100px;
                    margin-top:-7px;" src=
                            "{% static BRAND_LOGO %}">
                </a>
            </div>
            {% block nav_main %}
                <nav class="nav-main navbar-collapse collapse" role="navigation">
                    <ul class="navbar-nav nav ">
                        <li class="menu-item active">
                            <a href="#">REALTIME</a>
                        </li>
                        <li class="menu-item">
                            <a href="{% url 'user_map:index' %}">USER
                                MAP</a></li>
                        <li class="menu-item">
                            <a href="{% url 'front_end:home' %}#about">ABOUT</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        {% block userlinks %}
                            {% if user.is_authenticated %}
                                {% optional_logout request user %}
                            {% else %}
                                {% optional_login request %}
                            {% endif %}
                        {% endblock %}
                    </ul>
                </nav>
            {% endblock %}
        </div>
        <div class="second-menu">
            <div class="container">
                {% block nav_second %}
                    <nav class="nav-second navbar-collapse collapse">
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="{% url 'realtime:index' %}">Map</a>
                            </li>
                            <li class="menu-item active">
                                <a href="{% url 'realtime:api_root' %}">API Browser</a>
                            </li>
                        </ul>
                    </nav>
                {% endblock %}
            </div>
        </div>
        <div style="clear: both;"></div>
    </header>
{% endblock navbar %}
