html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Ubuntu;
    line-height: 23px;
    font-weight: 300;
    font-style: normal;
    color: #6e7377;
    font-size: 16px;
}

.navbar-brand {
    color: #EF5829 !important;
    font-size: 20pt;
    font-weight: bold;
}

.navbar-nav {
    font-size: 12pt;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #EF5829; /*Sets the text hover color on navbar*/
}

#main-content {
    opacity: 0.9;
    filter: alpha(opacity=85); /* For IE8 and earlier */
    background: url('../img/launch_2.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #EF5829;
    text-align: center;
}

#realtime-assesment {
    padding-top: 60px;
}

#user-map {
    padding-top: 60px;
}

#about {
    padding-top: 60px;
}

.footer {
    color: rgb(120, 120, 120);
    margin-bottom: 20px;
}

.quotes {
    display: none;
    font-size: 14pt;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;;
}

.centered {
    text-align: center;
}

.btn-default {
    border-color: #EF5829;
    background-color: #EF5829;
    color: #FDFDFD;
    font-weight: bolder;
}

.btn-default:hover {
    border-color: #EF5829;
    background-color: #FF7849;
    color: #FDFDFD;
    font-weight: bolder
}
