# copy this template as sftp_credential.env for production mode credential
# and as sftp_credential-dev.env for development mode credential
INAWARE_HOST=http://inawaretest.pdc.org/
INAWARE_USER=user
INAWARE_PASS=somepass
