# copy this template as sftp_credential.env for production mode credential
# and as sftp_credential-dev.env for development mode credential
USE_SFTP_BACKUP=True
SFTP_HOST=192.168.1.5
SFTP_USER=user
SFTP_PASSWORD=password
SFTP_DIR=/
TARGET_FOLDER=/pg_backup
