{% extends "user_map/base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}
{% load pipeline %}

{#{% block navbar %}#}
{#    <header id="banner-header" class="banner navbar navbar-default#}
{#    topnavbar navbar-fixed-top default" role="banner">#}
{#        <div class="container">#}
{#            <div class="navbar-header">#}
{#                <button type="button" class="navbar-toggle">#}
{#                    <span class="sr-only">Toggle navigation</span>#}
{#                    <span class="icon-bar"></span>#}
{#                    <span class="icon-bar"></span>#}
{#                    <span class="icon-bar"></span>#}
{#                </button>#}
{#                <a class="navbar-brand" rel="home" href="{% url 'front_end:home' %}" title="InaSAFE">#}
{#                    <img id="site-logo" style="max-width:100px;#}
{#                    margin-top:-7px;" src=#}
{#                            "{% static BRAND_LOGO %}">#}
{#                </a>#}
{#            </div>#}
{#            {% block nav_main %}#}
{#                <nav class="nav-main navbar-collapse collapse" role="navigation">#}
{#                    <ul id="menu-default" class="navbar-nav nav">#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-151 current_page_item menu-item-152 menu-for-users">#}
{#                            <a title="For Users" href="http://blogtest.inasafe.org/for-users/">For Users</a>#}
{#                        </li>#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-155 menu-for-contributors dropdown">#}
{#                            <a title="For Contributors" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">For Contributors#}
{#                                <span class="caret"></span></a>#}
{#                            <ul role="menu" class=" dropdown-menu">#}
{#                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171 menu-coders">#}
{#                                    <a title="Coders" href="http://blogtest.inasafe.org/for-contributors/for-coders/">Coders</a>#}
{#                                </li>#}
{#                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170 menu-writers-and-designers">#}
{#                                    <a title="Writers and Designers" href="http://blogtest.inasafe.org/for-contributors/for-documentation-writers-and-designers/">Writers and Designers</a>#}
{#                                </li>#}
{#                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169 menu-translators">#}
{#                                    <a title="Translators" href="http://blogtest.inasafe.org/for-contributors/for-translators/">Translators</a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-158 menu-blog">#}
{#                            <a title="Blog" href="http://blogtest.inasafe.org/blog/">Blog</a>#}
{#                        </li>#}
{#                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12 menu-chat-live">#}
{#                            <a title="Chat Live!" href="http://blogtest.inasafe.org/chat-live/">Chat Live!</a>#}
{#                        </li>#}
{#                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-160 menu-report-an-issue">#}
{#                            <a title="Report an Issue" target="_blank" href="https://github.com/AIFDR/inasafe/issues">Report an Issue</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                    <div id="lang_sel">#}
{#                        <ul>#}
{#                            <li>#}
{#                                <a href="#" class="lang_sel_sel icl-en">English</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                    <div class="nav navbar-nav pull-right">#}
{#                        {% if not user.is_authenticated %}#}
{#                            <li class="dropdown">#}
{#                                <a href="#" class="dropdown-toggle"#}
{#                                   data-toggle="dropdown"><b>User#}
{#                                    Management</b>#}
{#                                    <b class="caret"></b></a>#}
{#                                <ul class="dropdown-menu">#}
{#                                    <li>#}
{#                                        <a href="{% url 'user_map:login' %}">#}
{#                                            Log In#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="{% url 'user_map:register' %}">#}
{#                                            Sign Up#}
{#                                        </a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                        {% endif %}#}
{#                        {% if user.is_authenticated %}#}
{#                            <li class="dropdown">#}
{#                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Hi, {{ user.name }}</b>#}
{#                                    <b class="caret"></b></a>#}
{#                                <ul class="dropdown-menu">#}
{#                                    <li>#}
{#                                        <a href="{% url 'user_map:update_user' %}">Edit Profile</a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="{% url 'user_map:logout' %}">Log Out</a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                </nav>#}
{#            {% endblock nav_main %}#}
{#        </div>#}
{#    </header>#}
{##}
{##}
{#{% endblock navbar %}#}

{% block head_resources %}
    {{ block.super }}
{#    {% stylesheet 'main' %}#}
    {% stylesheet 'usermap_contrib' %}
    {% stylesheet 'usermap_appcss' %}
    {% leaflet_js %}
    {% leaflet_css %}
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static 'user_map/css/MarkerCluster.user-map.ie.css' %}" />
    <![endif]-->
    {% javascript 'usermap_contrib' %}
    {% javascript 'usermap_appjs' %}
{% endblock head_resources %}

{% block main_content %}
    {{ block.super }}
    <!-- Leaflet Map div -->
    {% leaflet_map "map" %}

    <!-- All the templates from view-->
    {{ user_menu_button | safe }}
    {{ information_modal | safe }}
    {{ data_privacy_content | safe }}
    {{ legend | safe }}
    {{ user_form_template | safe }}
{% endblock main_content %}


{% block js_container %}
    <script type="text/javascript">
        var map, base_map, data_privacy_content, data_privacy_control,
                user_menu_control;
        var is_authenticated = '{{ user.is_authenticated }}' == 'True';

        //Initialize Basemap Layer
        base_map = createBasemap(
                '{{ leaflet_tiles.url }}',
                '{{ leaflet_tiles.subdomains }}',
                '{{ leaflet_tiles.attribution | safe }}');

        //Create Map with prepared base_map
        map = L.map('map', {
            layers: [base_map]
        });
        map.fitWorld().zoomIn();

        // Create Data Privacy Control
        data_privacy_control = createDataPrivacyControl();
        map.addControl(new data_privacy_control);

        // Create User Menu Control and add some tooltips
        var user_menu = (is_authenticated ? ['edit', 'delete', 'download'] : ['add', 'download', 'forgot']);
        user_menu_control = createUserMenuControl(user_menu);
        map.addControl(new user_menu_control);
        $(".user-menu-control").tooltip({
            placement: 'right',
            container: 'body'
        });

        // Create Legend Control:
        legend_control = createLegendControl();
        map.addControl(new legend_control);

        //Add all user layers based on projects
        var get_users_url = '{% url "user_map:get_users" %}';
        var overlays_layer = [];
        var projects = {{ projects | safe }};
        var static_files = '{% static "" %}';

        for (var i = 0; i < projects.length; ++i) {
            var project_icon_path = static_files + projects[i]['icon'];
            var project_shadow_icon_path = static_files + projects[i]['shadow_icon'];
            projects[i]['icon'] = createIconMarker(project_icon_path, project_shadow_icon_path);

            var class_name = 'marker-cluster marker-cluster-project' + (i + 1);
            projects[i]['layer'] = new L.markerClusterGroup({
                iconCreateFunction: (function (class_name) {
                    return function (cluster) {
                        return L.divIcon({
                            html: '<div><span>' + cluster.getChildCount() + '</span></div>',
                            className: class_name,
                            iconSize: L.point(40, 40)
                        });
                    };
                })(class_name)
            });

            //Add All Users who's got this role
            addUsers(get_users_url, projects[i]);

            //Add All users layer to map
            projects[i]['layer'].addTo(map);

            //Add layer to overlays layer
            overlays_layer[projects[i]['name']] = projects[i]['layer'];
        }

        //Plug overlays_layers in layer control
        L.control.layers(null, overlays_layer, {collapsed: false}).addTo(map);
    </script>
{% endblock js_container %}
