Dear {{ name }},

We are excited to announce the launch of our new user map (http://users.inasafe.org). The bad news is that you will have to add yourself to the new map if you wish to continue to be seen by your InaSAFE friends. We hope that you will add yourself again.

On the new map, you can add multiple roles of InaSAFE and roles of OpenStreetMap. After adding yourself on the new user map, if you are a certified InaSAFE trainer or a certified OSM trainer, please send us an e-mail to info@inasafe.org so that you have the cool badges!

Regards,
The InaSAFE Team
