
        <env name="BROKER_URL" value="amqp://guest:guest@rabbitmq:5672/" />
        <env name="DJANGO_SETTINGS_MODULE" value="core.settings.dev_docker" />
        <env name="PYTHONUNBUFFERED" value="1" />
        <env name="C_FORCE_ROOT" value="true" />
