# Environment variables for Realtime REST servers
# You can also set up dnsmasq to redirect server domain to correct ip
INASAFE_REALTIME_REST_URL=http://{{ realtime_rest_api.host }}:{{ realtime_rest_api.port }}/realtime/api/v1
# change user and pass to the correct credentials
INASAFE_REALTIME_REST_USER={{ realtime_rest_api.user }}
INASAFE_REALTIME_REST_PASSWORD={{ realtime_rest_api.password }}
