/* IE 6-8 fallback colors */
.marker-cluster-project1 {
background-color: rgb(253, 156, 115);
}
.marker-cluster-project1 div {
background-color: rgb(241, 128, 23);
}
.marker-cluster-project2 {
background-color: rgb(255, 120, 120);
}
.marker-cluster-project2 div {
background-color: rgb(220, 50, 50);
}
.marker-cluster-project3 {
background-color: rgb(0, 180, 255);
}
.marker-cluster-project3 div {
background-color: rgb(0, 210, 255);
}
