requests==2.21.0
Django==1.8
django-bootstrap3-datetimepicker==2.2.3
psycopg2==2.7.1
pytz==2016.7
celery==4.1.1
amqp==2.2.2
django-leaflet==0.14.0
django-braces==1.9.0
django-model-utils==2.6
django-pipeline<1.6,>=1.5
nodeenv==1.0.0
raven==5.29.0
django-user-map==1.1.1
djangorestframework==3.9.1
djangorestframework-gis==0.9.6
Markdown==2.6.7
django-filter==0.11.0
Pillow==6.2.0
numpy==1.11.2
hammock==0.2.4
Scrapy==1.2.0
python-dateutil==2.5.3
unicodecsv==0.14.1
beautifulsoup4==4.5.1
django-tinymce==2.6
django-filebrowser==3.7.2
django-tinymce-filebrowser==0.2.1
urllib3==1.23
pyyaml==5.1
mock==3.0.5
